body{
    
    text-align: left;
    font-family:fantasy;

    background-image: url(https://wallpaperaccess.com/full/3792708.jpg);
}
marquee{
  
    font-size: 50px;
    
}

form{
    text-align: center;
    font-size: larger;
}

label,legend,option{
    background-color: rgb(57, 25, 175);

}

button{
    background-color: brown;
}


input{
    border-color:black;
    
}
